* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.mobil-container {
  max-width: 480px;
  margin: auto;
  background-color: rgb(161, 158, 158);
  color: #000;
  border-radius: 10px;
  
}

.navbar ul {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: black;
  color: white;
}

/* .navbar ul li > * {
  color: white;
} */

.navbar li {
  list-style: none;
  padding: 1rem;
}

.navbar a {
  text-decoration: none;
  color: white;
}
.navbar-logo {
  flex: 1;
  font-size: 1.4rem;
  user-select: none;
}

.navbar-toggle {
  display: none;
}

.navbar-links:hover {
  background-color: cyan;
}

.navbar-links:hover a {
  color: black;
}

@media (max-width: 600px) {
  .navbar ul {
    flex-wrap: wrap;
  }

  .navbar-toggle {
    display: block;
   
  }

  .navbar-links {
    display: none;
    width: 100%;
    text-align: center;
  }

  .active {
    display: block;
  }




}